@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap");

html,
body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: 'Nunito Sans', Times, serif;
}

.wrapper {
    width: 1024px;
    margin: auto;
    padding: 20px 0px 20px 0px;
}

/*
* menu
*/

nav {
    background-color: #222831;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav > .wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    align-items: center;
}

.menu {
    width: 50%;
    
}

.menu > ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
}

.menu > ul > li > a {
    text-decoration: none;
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;

}

.logo > img {
    height: 45px;
}

/*
*Hro/JUMBOTRON
*/
header {
    background: url('../images/Background1.jpeg');
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    font-family: "Kanit", sans-serif;
    letter-spacing: 5px;
    text-shadow: 0 0 4px #000;
}

.header-opacity {
    background-color: #222831;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
}

.header-jumbotron {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.header-jumbotron > h4 {
    color: #ffce10;
    font-size: 2rem;
    margin: 0px;
    padding: 0px;
}

.header-jumbotron > h5 {
    color: #fff;
    margin: 0px;
    padding: 5px;
    font-size: 3.5rem;
    line-height: 4rem;
    text-transform: uppercase;
}

.header-jumbotron > P {
    padding: 5px;
    margin: 0px 5px 20px 5px;
    color: #fff;
}

a {
    text-decoration: none;
    color: #333;
    text-shadow: none;
}

.button {
    background-color: #ffce10;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-family: "Kanit", sans-serif;
}

.button-xl {
    font-size: 1.4rem;
    padding: 20px;
}

/*
* statistic
*/

#statistic {
    background-color: #1a1f27;
    color: #fff;
    font-family: "Kanit", sans-serif;
    text-align: center;
}

#statistic > .wrapper {
    padding: 50px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    
}

#statistic > .wrapper > div {
    text-align: center;
}

#statistic > .wrapper > div > p {
    font-size: 2.5rem;
    margin: 0px;
    padding: 0px;
}

#statistic > .wrapper > div > p > i {
    margin-right: 10px;
    font-size: 3.5rem;
}

#statistic > .wrapper > div > p > small {
    font-size: 1.5rem;
}

/*
* skill
*/

#Skill {
    background-color: #222831;
    color: #fff;
}

#Skill  > .wrapper{
    padding: 50px 0px 50px 0px;

}

#Skill > .wrapper > h4 {
    text-align: center;
    font-size: 2.8rem;
    margin: 0px;
    padding: 0px;
    font-family: "Kanit", sans-serif;
}

#Skill > .wrapper > h4 > span {
    color: #ffce10;
}

#Skill > .wrapper > p {
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin-bottom: 50px;
}

.grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 50px;
}

.grid > .item {
    border: 1px solid #666;
    background-color: #393e46;
    border-radius: 5px;
    position: relative;
}

.grid > .item > img {
    width: 15%;
    position: absolute;
    top: 10px;
    right: 10px;
}

.grid > .item > .item-detail {
    padding: 30px;
    font-size: 1.3rem;
    font-weight: bold;
    width: 70%;
}

.grid > .item > .item-detail > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
}

.grid > .item > .item-detail > div > small {
    color: #fff;
    font-size: 1rem;
    font-style: italic;  
}

.grid > .item > .item-detail > div > a {
    font-size: 1rem;
    color: #333;
    font-weight: normal
}

/*
*Tenyang SAYA
*/
#tentang-saya {
    background-color: #EEEEEE;
    color: #333;
}

#tentang-saya  > .wrapper{
    padding: 50px 0px 50px 0px;

}

#tentang-saya > .wrapper > h4 {
    text-align: center;
    font-size: 2.8rem;
    margin: 0px;
    padding: 0px;
    font-family: "Kanit", sans-serif;
}
#tentang-saya > .wrapper > p {
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin-bottom: 50px;
    font-size: 1.3rem;
}

#tentang-saya > .wrapper > div {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

#tentang-saya > .wrapper > div > .foto {
    width: 30%;
}

#tentang-saya > .wrapper > div > .foto > img {
    max-width: 100%;
}

#tentang-saya > .wrapper > div > .des {
    width: 70%;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
}

#tentang-saya > .wrapper > div > .des > p {
    margin: 0px 0px 10px 0px;
    font-size: 1.3rem;
    line-height: 1.9rem;
}

#tentang-saya > .wrapper > div > .des > .social {
    display: flex;
    width: 60%;
    justify-content: space-between;
    font-size: 1.3rem;
}

#tentang-saya > .wrapper > div > .des > .social > a {
    color: #344188;
    font-size: 1.6rem;
}

/*
*My Project
*/

#Project {
    background-color: #393e46;
    color: #fff;
}

#Project  > .wrapper{
    padding: 50px 0px 50px 0px;

}

#Project > .wrapper > h4 {
    text-align: center;
    font-size: 2.8rem;
    margin: 0px;
    padding: 0px;
    font-family: "Kanit", sans-serif;
}

#Project > .wrapper > h4 > span {
    color: #ffce10;
}

#Project > .wrapper > p {
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin-bottom: 50px;
}

#Project > .wrapper > .grid > .item {
    background-color: #222831;
    margin: 0px;
    padding: 0px;
}

#Project > .wrapper > .grid > .item > .item-detail {
    padding: 0px;
    margin: 0px;
    font-size: 1.4rem;
    width: 100%;
}

#Project > .wrapper > .grid > .item > .item-detail > img {
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#Project > .wrapper > .grid > .item > .item-detail > div {
    padding: 10px 20px 10px 20px;
}

/*
*Kontak
*/

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section#kontak {
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-bottom: 20px;
    font-style: italic;
    font-family: "Kanit", sans-serif;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #d7e428;
    color: rgb(12, 12, 12);
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/*
* Copyright
*/

footer {
    background-color: #222831;
    color: #fff;
    text-align: center;
}

footer > .wrapper {
    padding: 30px 0px 30px 0px;
}


/*
*Hamberger button
*/

button.bar-menu {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

button.bar-menu > i {
    color: #fff;
    font-size: 1.2rem;
}

button.bar-menu > i.icon-close{
    display: none;
}

/*
*Responsif 1024, 900, 768, 600, 450
*/

@media only screen and (max-width:1024px) {
    .wrapper {
        width: 90%;
    }

}

@media only screen and (max-width:900px) {
    #statistic > .wrapper > div > p {
        font-size: 1rem;
        margin: 0px;
        padding: 0px;
}
    
    #statistic > .wrapper > div > p > i {
        margin-right: 8px;
        font-size: 2.5rem;
}

    #statistic > .wrapper > div > small {
        font-size: 0.5rem;
    }

    .grid {
        grid-template-columns: 45% 45%;
    }

    .item > img {
        width: 8%;
    }

    button.bar-menu {
        display: inline;
    }

    .menu {
        display: none;
    }

    .tampil {
        display: inline;
    }

    .tampil > ul {
        flex-direction: column;
        background-color: #000;
        width: 100%;
        position: fixed;
        top: 84px;
        left: 0;
        opacity: 87%;
        transition: 0.5s;
    }

    .tampil > ul > li {
        padding: 10px 20px 10px 20px;
    }

}


@media only screen and (max-width:768px) {
    .menu {
        width: 60%;
    }

    .header-jumbotron > h4 {
        font-size: 1.5rem;
    }

    .header-jumbotron > h5 {
        font-size: 1.8rem;
        line-height: 2rem;
    }

    .header-jumbotron > p {
        font-size: 0.6rem;
    }

    .button {
        padding: 4px;
    }

    .button-xl {
        font-size: 1rem;
        padding: 8px;
    }

    #statistic > .wrapper > div > p {
        font-size: 1.4rem;
        margin: 0px;
    }

    #statistic > .wrapper > div > p > i {
        font-size: 1.5rem;
    }

    footer > div {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width:600px) {
    .grid {
        grid-template-columns: 100%;
    }

    #statistic > .wrapper {
        padding: 8px;
        flex-direction: column;
    }

    #statistic > .wrapper > div > {
        display: flex;
    }

    #statistic > .wrapper > div > small {
        font-size: 0.5rem;
        padding-left: 10px;
    }

    #tentang-saya > .wrapper > div {
        width: 100%;
        flex-direction: column;
    }

    #tentang-saya > .wrapper > div > .foto {
        width: 50%;
    }
    
    #tentang-saya > .wrapper > div > .foto{
        max-width: 100%;
    }

    #tentang-saya > .wrapper > div > .des {
        width: 70%;
        padding: 20px;
        margin: 10px;
    }

    #tentang-saya > .wrapper > div > .des > .social {
        margin: auto;
    }

    footer > div {
        font-size: 0.6rem;
    }


}